.DS_Store

codes/**/Pods/
codes/**/build/
codes/**/DerivedData/
codes/**/*.pbxuser
!codes/**/default.pbxuser
codes/**/*.mode1v3
!codes/**/default.mode1v3
codes/**/*.mode2v3
!codes/**/default.mode2v3
codes/**/*.perspectivev3
!codes/**/default.perspectivev3
codes/**/xcuserdata/
codes/**/*.moved-aside
codes/**/*.xccheckout
codes/**/*.xcscmblueprint
codes/**/*.hmap
codes/**/*.ipa
codes/**/*.dSYM.zip
codes/**/*.dSYM
codes/**/timeline.xctimeline
codes/**/playground.xcworkspace
codes/**/.build/
codes/**/Carthage/Build
codes/**/Dependencies/
codes/**/.accio/
codes/**/fastlane/report.xml
codes/**/fastlane/Preview.html
codes/**/fastlane/screenshots/**/*.png
codes/**/fastlane/test_output
codes/**/iOSInjectionProject/
codes/**/*.xcodeproj/*
!codes/**/*.xcodeproj/project.pbxproj
!codes/**/*.xcodeproj/xcshareddata/
!codes/**/*.xcworkspace/contents.xcworkspacedata
codes/**/*.gcno
codes/**/**/xcshareddata/WorkspaceSettings.xcsettings
