.DS_Store

codes/**/Pods/
codes/**/build/
codes/**/DerivedData/
codes/**/*.pbxuser
!codes/**/default.pbxuser
codes/**/*.mode1v3
!codes/**/default.mode1v3
codes/**/*.mode2v3
!codes/**/default.mode2v3
codes/**/*.perspectivev3
!codes/**/default.perspectivev3
codes/**/xcuserdata/
codes/**/*.moved-aside
codes/**/*.xccheckout
codes/**/*.xcscmblueprint
codes/**/*.hmap
codes/**/*.ipa
codes/**/*.dSYM.zip
codes/**/*.dSYM
codes/**/timeline.xctimeline
codes/**/playground.xcworkspace
codes/**/.build/
codes/**/Carthage/Build
codes/**/Dependencies/
codes/**/.accio/
codes/**/fastlane/report.xml
codes/**/fastlane/Preview.html
codes/**/fastlane/screenshots/**/*.png
codes/**/fastlane/test_output
codes/**/iOSInjectionProject/
codes/**/*.xcodeproj/*
!codes/**/*.xcodeproj/project.pbxproj
!codes/**/*.xcodeproj/xcshareddata/
!codes/**/*.xcworkspace/contents.xcworkspacedata
codes/**/*.gcno
codes/**/**/xcshareddata/WorkspaceSettings.xcsettings

codes-2nd/**/Pods/
codes-2nd/**/build/
codes-2nd/**/DerivedData/
codes-2nd/**/*.pbxuser
!codes-2nd/**/default.pbxuser
codes-2nd/**/*.mode1v3
!codes-2nd/**/default.mode1v3
codes-2nd/**/*.mode2v3
!codes-2nd/**/default.mode2v3
codes-2nd/**/*.perspectivev3
!codes-2nd/**/default.perspectivev3
codes-2nd/**/xcuserdata/
codes-2nd/**/*.moved-aside
codes-2nd/**/*.xccheckout
codes-2nd/**/*.xcscmblueprint
codes-2nd/**/*.hmap
codes-2nd/**/*.ipa
codes-2nd/**/*.dSYM.zip
codes-2nd/**/*.dSYM
codes-2nd/**/timeline.xctimeline
codes-2nd/**/playground.xcworkspace
codes-2nd/**/.build/
codes-2nd/**/Carthage/Build
codes-2nd/**/Dependencies/
codes-2nd/**/.accio/
codes-2nd/**/fastlane/report.xml
codes-2nd/**/fastlane/Preview.html
codes-2nd/**/fastlane/screenshots/**/*.png
codes-2nd/**/fastlane/test_output
codes-2nd/**/iOSInjectionProject/
codes-2nd/**/*.xcodeproj/*
!codes-2nd/**/*.xcodeproj/project.pbxproj
!codes-2nd/**/*.xcodeproj/xcshareddata/
!codes-2nd/**/*.xcworkspace/contents.xcworkspacedata
codes-2nd/**/*.gcno
codes-2nd/**/**/xcshareddata/WorkspaceSettings.xcsettings
